In [14]:
print("start")
i=0
while (i<20):
    print ("Hello World")
    i=i+1
print("End")

start
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
End

In [16]:
print("Even")
i=0
while(i<100):
        print(i)
        i=i+2
print ("Odd")
j=1
while(j<100):
    print(j)
    j=j+2
print("End")

Even
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
Odd
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
End

In [20]:
set1={'a','b','c','d'}
upper(set1)

NameError: name 'upper' is not defined

In [22]:
a = input("Enter the Number")
int(a)
print(a)
type(a)

Enter the Number65
65

str

In [56]:
a = input("Enter the number 1 ")
a = int(a)
b = input("Enter the number 2 ")
b = int(b)
c = input("Enter the number 3 ")
c = int(c)
if(a>b):
    if(a>c):
        print(a,"is greater")
    elif:
        print(c," is greater")      
else:
    if(b>c):
        print(b,"is greater")
    else:
        print(c, "is greater")

Enter the number 1 13
Enter the number 2 13
Enter the number 3 45
A is equal to B

a = input("Enter the number 1 ")
int(a)
b = input("Enter the number 2 ")
int(b)
c = input("Enter the number 3 ")
int(c)
if((a>b) and (a>c)):
    print( a,"is greater")
elif((b>a) and (b>c)):
    print(b," is greater")
else:
       print(c, " Is greater")

In [69]:
a = input("Enter the number 1 ")
a = int(a)
b = input("Enter the number 2 ")
b = int(b)
c = input("Enter the number 3 ")
c = int(c)
if(a==b==c):
    print("A is equal to B equal to C")
elif(a==b):
    print("A s equal to B")
elif(b==c):
    print("B is equal to C")
elif(c==a):
    print("C is equal to A")

if(a>b):
    if(a>c):
        print(a,"is greater")
    else:
        print(c," is greater")      
else:
    if(b>c):
        print(b,"is greater")
    else:
        print(c, "is greater")

Enter the number 1 12
Enter the number 2 12
Enter the number 3 4
A s equal to B
12 is greater

In [67]:
a = input("Enter the number 1 ")
a = int(a)
b = input("Enter the number 2 ")
b = int(b)

print("1.Addition")
print("2.Subtrction")
print("3.Multiplication")
print("4.Division")
c = input("Enter the choice ")
c = int(c)
if(c==1):
    print("Addition is", a+b)
elif(c==2):
    print("Subtraction is", a-b)
elif(c==3):
    print("Multiplication is", a*b)
elif(c==4):
    print("division is", a/b)
else:
    print("Enter correct number 1 to 4")

Enter the number 1 12
Enter the number 2 12
1.Addition
2.Subtrction
3.Multiplication
4.Division
Enter the choice 1
Addition is 24

In [100]:
l=[]
num = int(input("enter the size of a list"))
for i in range(0,num):
    k=input("Enter the number")
    l.append(k)
a=0
b=1
for j in range(0,num):
    if(b == num):
        break
    if(l[b] > l[a]):
        l[a]=l[b]
    b = b+1
print ("biggest number in the list is:",l[a])

enter the size of a list5
Enter the number21
Enter the number32
Enter the number54
Enter the number65
Enter the number78
biggest number in the list is: 78

In [84]:
l=[1,2,3,4,5,"hello","hi"]
j=0
for i in l:
    j=j+1
print (j)

7

In [87]:
s = input("Enter the string : ")
j=0
for i in s:
    j = j+1
print(j)

Enter the string : Narayanan
9

In [92]:
s = input("Enter the string : ")
j=0
for i in s:
    if ((i == 'a') or (i == 'e') or (i == 'i') or (i == 'o') or (i == 'u')):
        j = j+1
print(j)

Enter the string : narayanan
4

In [116]:
a=0
for i in range(0,100):
    if (i%2==0):
        a=a+i
print(a)
b=str(a)
a=int(a)
c=len(b)
l=0
for j in range(0,c):
    k=a%10
    a=int(a/10)
    l=l+k
print(l)

2450
11

In [122]:
s=input("Enter the Name: ")
j=0
for i in s:
    if(j%2 == 0):
        print(i.upper())
        j=j+1
    else:
        print(i.lower())
        j=j+1

Enter the numbernarayanan
N
a
R
a
Y
a
N
a
N

In [130]:
import random
l=[]
i=0
j=0
while (i==0):
    a = input("Press Y to start,N to Exit: ")
    if(a == 'N'):
        break;
    elif(a == 'Y'):
        for x in range(1):
              print (random.randint(1,6))
    else:
        print ("Type only Y or N")

Press Y to start,N to Exit: N

In [138]:
l=[]
num = int(input("enter the size of a list"))
for i in range(0,num):
    k=input("Enter the number")
    l.append(k)
a=0
b=1
for j in range(0,num):
    if(b == num):
        break
    if(l[b] > l[a]):
        l[a]=l[b]
    b = b+1
print ("Maximum Number is : ",l[a])
a=0
b=1
for j in range(0,num):
    if(b == num):
        break
    if(l[b] < l[a]):
        l[a]=l[b]
    b = b+1
print ("Minimum Number is : ",l[a])
l.sort()
print(l[0],l[-1])

enter the size of a list4
Enter the number12
Enter the number11
Enter the number34
Enter the number23
Maximum Number is :  34
Minimum Number is :  11
11 34

In [149]:
def sqr(i):
    return i*i

In [141]:
sqr(10)

100

In [150]:
l=[]
num = int(input("enter the size of a list"))
for i in range(0,num):
    k=int(input("Enter the number"))
    l.append(k)
print(l)
for j in l:
    result = sqr(j)
    print(result)

enter the size of a list4
Enter the number2
Enter the number4
Enter the number3
Enter the number2
[2, 4, 3, 2]
4
16
9
4

In [161]:
def greetings(name,a="hello"): #default arguments
    print(a.upper(),name)

In [162]:
greetings('Narayanan')
greetings("Narayanan","hi")

HELLO Narayanan
HI Narayanan

In [175]:
def add(i):   #passing the list as an argument
    result=0
    for a in i:
        result=result+a
    return result
l=[1,2,3,4]
a=add(l)
print(a)

10

In [177]:
def add(*args):   #when you dont know the number of arguments. Python's way of function overloading.
    result = 0
    for i in args:     #invoke for loop to define the elements in args
        print(i)
        result=result+i
    return result

In [172]:
add(1,2,3,4)

1
2
3
4

10

In [179]:
arr=[1,2,3,4,5,6]
add(*arr)    #this is how you pass a list to *args function. this will add the elements in a array

1
2
3
4
5
6

21

In [183]:
#swapping Variables
a,b = 10,20 #tuple is used to assign operators like this
print(a,b)

a,b = b,a   #swapping is as simple as this, the tuple is used to achieve this

print(a,b)

10 20
20 10

In [184]:
a = (1,2,3) #tuple is created
b,c,d = a #tuple is unpacked and assigned to respresent values
print (b,c,d) #each variable wil have the value of each tuple

1 2 3

In [191]:
def min_max(arr):
    a=0
    b=1
for i in arr:
    if(b == len(arr)):
        break
    if(arr[b] > arr[a]):
        arr[a]=arr[b]
    b = b+1
mini=arr[a]
a=0
b=1
for j in arr:
    if(b == len(arr)):
        break
    if(arr[b] < arr[a]):
        arr[a]=arr[b]
    b = b+1
maxi = arr[a]

return mini,maxi

mini,maxi=min_max([1,2,3,4,5,6,0,20])
print (mini,maxi)

TypeError: list indices must be integers or slices, not tuple

In [189]:
def min_max(arr):
    return min(arr),max(arr)
mini,maxi=min_max([1,2,3,4,5,6,0,20])
print (mini,maxi)
min?

0 20

In [195]:
s = ["hi","Hello","why","test","Simple","exam","hi","how","none","how"]
def word_count(a,predicate):
    x=0
    for i in a:
        if ( predicate == i):
            x=x+1
    return x

print(word_count(s,"test"))

1

In [201]:
s = ["hi","Hello","why","test","Simple","exam","hi","how","none","how"]
def search_word(a,searchword):
    result = False
    for i in a:
        if (searchword == i):
            return True
    return result
print(search_word(s,"hi"))

True

In [203]:
# you can pass functions as arguments
def calculator(a,b,oper):
    print(oper(a,b))
def sub(i,j):
    return i-j
def mul(i,j):
    return i*j
calculator(2,3,mul)   #passing the mul function as Parameter for calculator function

6

In [208]:
#lambda is a anonymous function and only called at the time
a= lambda x,y,z:x+y-z
a(4576,7458,7654)

4380

In [11]:
l=[25,35,45]
m=(map(lambda x:x*2,l)) #list(map()) --> this is used to get the value of the result of the map.
type(m) #here M is a variable of object map
print(list(m)) #use list to print a map, the object will only be executed when you use list

[50, 70, 90]

In [28]:
def mul(i):
    print ("multiplying",i)
    print("multi")
    return i*2
c = map(mul,[1,2,3,4,5])
d = list(c)
d

multiplying 1
multi
multiplying 2
multi
multiplying 3
multi
multiplying 4
multi
multiplying 5
multi

[2, 4, 6, 8, 10]

In [29]:
c = filter(lambda x:x>20,[1,2,3,4,5,33]) #filter function
list(c)

[33]

In [30]:
f = filter(lambda x : x%5 ==0,[10,15,20,24,34])
list(f)

[10, 15, 20]

In [41]:
#reduce function is part of functools
from functools import reduce
r = reduce(lambda x,y:x+y,['a','b','c','d'])
type(r)

str

In [42]:
class MyClass:
    variable = "blah"
    
    def welcome(self):
        print("This is a message inside the class : " , self.variable)

In [50]:
#constructing an object
#myobjectx=MyClass()
myobjecty=MyClass()

#print the variables
print(myobjectx.variable)
print(myobjecty.variable)

myobjectx.welcome()
myobjecty.welcome()

myobjectx.variable="yackity"
print(myobjectx.variable)
myobjectx.welcome()

yackity
blah
This is a message inside the class :  yackity
This is a message inside the class :  blah
yackity
This is a message inside the class :  yackity

In [53]:
class employee:
    def __init__ (self,name,age,salary):
        print("init started")
        self.name = name
        self.age = age
        self.salary = salary
    def work(self):
        print(self.name , " is working")

emp1 = employee("Narayanan",27,2000)
emp2 = employee("NK",27,4000)
emp1.work()
emp2.work()

init started
init started
Narayanan  is working
NK  is working

In [56]:
emplist = list()
emplist.append(emp1)
emplist.append(emp2)
for i in emplist:
    i.work()

Narayanan  is working
NK  is working

In [62]:
class Students:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
stu1 = Students("Narayanan",17,100)
stu2 = Students("NK",20,45)
stu3 = Students("Basha",20,50)
stu4 = Students("Ranga",14,100)
stu5 = Students("Linga",20,100)

stulist = list()
stulist.append(stu1)
stulist.append(stu2)
stulist.append(stu3)
stulist.append(stu4)
stulist.append(stu5)

a = list(filter(lambda x:x.age > 15 and x.marks < 50, stulist))
for i in a:
    print(i.name,i.age,i.marks)

NK 20 45

In [2]:
l1 = [1,2,3]
l2 = [2,3,4]
l3 =[]
for i in range(0,len(l1)):
    x=0
    x = l1(i) + l2(i)
    l3.append(x)
print(l3)

TypeError: 'list' object is not callable

In [19]:
import numpy as np
a = np.array([1,2,3,4,5,6,7,8,9])
b = a.reshape(3,3)
len(b)
b.ndim
b.size
b.dtype

dtype('int64')

In [11]:
l1=[1,2,3,4,5]
l1[0]
l1[:]
l1[2:5]

[3, 4, 5]

In [12]:
from __future__ import braces

SyntaxError: not a chance (<ipython-input-12-6d5c5b2f0daf>, line 1)

In [30]:
#Pandas
import numpy as np
import pandas as pd
s = pd.Series((443,225,675,783,594))    #creates a panda datatype s with values in it
print(s)

0    443
1    225
2    675
3    783
4    594
dtype: int64

In [31]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
s.values #prints the values of a panda dataset s

array([443, 225, 675, 783, 594])

In [33]:
type(s)

pandas.core.series.Series

In [34]:
s.dtype

dtype('int64')

In [35]:
s.copy?

In [36]:
s.mean()

544.0

In [37]:
s.median()

594.0

In [38]:
s.sum()

2720

In [40]:
dataf = pd.DataFrame({'first': s+s,'second': s*s})

In [41]:
dataf

   first  second
0    886  196249
1    450   50625
2   1350  455625
3   1566  613089
4   1188  352836

In [42]:
dataf.index

RangeIndex(start=0, stop=5, step=1)

In [43]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [44]:
dataf.describe()

             first        second
count     5.000000       5.00000
mean   1088.000000  333684.80000
std     434.446775  219268.29303
min     450.000000   50625.00000
25%     886.000000  196249.00000
50%    1188.000000  352836.00000
75%    1350.000000  455625.00000
max    1566.000000  613089.00000

In [45]:
dataf.apply(min,axis = 1)

0     886
1     450
2    1350
3    1566
4    1188
dtype: int64